body {
    min-width: 1224px;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #F3F5FC;
    font-family: 'Inter', sans-serif;
}

.logo {
    position: absolute;
    left: 50px;
    right: 37.43%;
    top: 50px;
    bottom: 0%;
    width: 50px;
    height:50px;
}

.botones-home{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 42rem;
}

.btn-iniciar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    
    
    width: 317px;
    height: 114px;
    cursor: pointer;
    
    /* Dark blue/dark-blue-300 */
    
    background: #0A3871;
    border-radius: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    justify-content: center;
  
  /* White */
  
    color: #FFFFFF;
  }

#iniciar-juego {
    position: absolute;
    left: 5rem;
    top: 20rem;
}

#agregar-palabra {
    position: absolute;
    left: -20rem;
    top: 20rem;   
}

.newWord {
    position: absolute;
    left: -18rem;
    top: 10rem;
}

.canvas {
    margin-left: 2.5rem;
    width: 1300px;
    height: 800px;
}

#footer a{
    position: absolute;
    left: 45%;
    bottom: 10rem;
    font-weight: bold;
    text-decoration: none;
}

#footer a:hover{
    font-size: large;
}

@media (max-width: 548px) {
    body {
        width: max-content;
    }
    .logo {
        left: 10px;
    }
    .botones-home{
        left: 0px !important;
    }
    .btn-iniciar {
        width: 200px;
        height: 80px;
        font-size: 12px;
    }
    #agregar-palabra {
        left: 5rem;
        top: 14rem !important;  
    }
    .newWord {
        left: 4rem !important;
        top: 8rem !important;
    }
    .canvas {
        margin-left: 2.5rem;
        width: 1024px;
        height: 800px;
    }
    #footer a{
        left: 5.5rem !important;
        top: 30rem !important;
    }
}

@media (max-width: 1100px) {
    .logo {
        left: 10px;
    }
    .botones-home{
        left: 40px;
        top: 30px;
    }
    #agregar-palabra {
        left: 5rem;
        top: 12rem;  
    }
    .newWord {
        left: 7.5rem;
        top: 6rem;
    }
    #footer a{
        left: 12rem;
        top: 30rem;
    }
}